---
{% for test in tests %}
- name: "Execute Test: {{ test.name }}"
  hosts: "{{ test.target_device | join(',') }}"
  gather_facts: no
  vars:
    test_id: "{{ test.name }}"
    points: {{ test.points | default(10) }}
    {% for key, value in test.vars.items() %}
    {{ key }}: {{ value | tojson }}
    {% endfor %}

  tasks:
{% filter indent(4) %}
{% include 'tasks/' + test.template %}
{% endfilter %}
{% endfor %}