- name: "1. Gather all available facts from the device"
  cisco.ios.ios_facts:
    gather_subset:
      - interfaces
  register: device_facts
  delegate_to: "{{ target_device }}"

- name: "2. Display the gathered interface information"
  debug:
    var: device_facts.ansible_facts.ansible_net_interfaces