{% raw %}
- name: "Test {{ test_id }} - Check IP configuration on {{ target_device }}"
  shell: |
{% endraw %}
    {% if interface_name is defined %}
    ip addr show {{ interface_name }}
    {% else %}
    ip addr show
    {% endif %}
{% raw %}
  register: ip_result
  delegate_to: "{{ target_device }}"
  tags:
    - test_id:{{ test_id }}
    - points:{{ points }}

- name: "Evaluate Linux IP test {{ test_id }}"
  debug:
    msg: |
{% endraw %}
      {% if expected_ip is defined %}
      Checking if {% raw %}{{ target_device }}{% endraw %} has IP {{ expected_ip }}
      {% else %}
      Checking IP configuration on {% raw %}{{ target_device }}{% endraw %}
      {% endif %}
{% raw %}
  failed_when: >
{% endraw %}
    {% if expected_ip is defined %}
    expected_ip not in ip_result.stdout
    {% elif interface_up is defined and interface_up %}
    'UP' not in ip_result.stdout or 'state UP' not in ip_result.stdout
    {% else %}
    ip_result.rc != 0
    {% endif %}
{% raw %}
  tags:
    - test_id:{{ test_id }}
    - points:{{ points }}
{% endraw %}